<div class="d-flex justify-center pb-8 pt-8">
    <img src="imgs/logo.png" alt="Dima - Financial Control" width="200" />
</div>

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink Href="/releases/history">History</MudNavLink>
    <MudNavLink Href="/categories">Categories</MudNavLink>
    <MudNavLink Href="/categories/premium">Categories</MudNavLink>
    <MudNavLink Href="/premium">Premium</MudNavLink>
    <MudNavLink Href="/exit">Exit</MudNavLink>
</MudNavMenu>